
<!DOCTYPE html>
<section>
<head>

	<title>NewsApp</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel= stylesheet href="https //maxcdn.bootstrapcdn.com/bootstrap/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #D3D3D3;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body bgcolor="black">


     <div class="topnav">


         <a href="{% url 'news' %}"><font color="white">Home</font></a>
         <a href="{% url 'category' 'Business' %}"><font color="white">Business</font></a>
         <a href="{% url 'category' 'Sports' %}"><font color="white">Sports</font></a>
         <a href="{% url 'category' 'Technology' %}"><font color="white">Technology</font></a>
         <a href="{% url 'about' %}"><font color="white">About</font></a>
         <a href="{% url 'weather' %}"><font color="white">Weather</font></a>
         <a href="{% url 'logout' %}"><font color="white">Logout</font></a>
    </div>


    {% if user.is_authenticated %}
         <section class="hero is-dark">
              <div class="hero-body" style="padding-left: 35%">
                <h1 class="title">Whats the current news?</h1>
                <h1 class="subtitle" style="padding-left:20%">Top Headlines</h1>
              </div>
         </section>
        <br>




         {% for city_news in news_data %}
                <a href="{{city_news.url}}"

                    <div class="box" style="background-image:linear-gradient(rgba(500,500,500,.5), rgba(500,500,500,.5)),url('{{city_news.image}}');background-size: 300px 300px; width:300px;height:300px;float:left;margin-right:10px;margin-bottom:10px;border-color:"black"">
                            <div class="content" style="justify-content:center;font-family: 'Josefin Sans', sans-serif;padding-top:50px" >
                                <p>
                                    <span class="subtitle"><font color="black">{{city_news.title}}</font> </span>
                                    <br>
                                </p>
                            </div>

                    </div>
                </a>

        {% endfor %}
    <div class="subtitle" style="background-color:black">
	<footer style="padding-left: 40%">&copy;Vineeth J Palatty&nbsp;&nbsp; 2019
	</footer>
    </div>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}




</body>
</html>